/* Minimum Recommended Screen Width: 550px */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("./CSS/header.css");
@import url("./CSS/main.css");
@import url("./CSS/sidebar.css");
@import url("./CSS/animations.css");

/* GLOBAL */
:root {
  --primary-light: #9287f9;
  --primary: #6d5dfc;
  --primary-dark: #3e29fb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --shadow-one: inset 0.2rem 0.2rem 1rem var(--primary-light),
    inset -0.2rem -0.2rem 1rem var(--primary-dark);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  --outer-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);

  --view-width: 95%;
  --max-view-width: 1300px;
  --view-height: 95%;
}

/* UNIVERSAL */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", Montserrat, sans-serif;
  font-size: 18px;
  color: var(--primary);
  background: var(--greyLight-1);
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

/* WRAPPER */
.container {
  flex: 6 0px;
  box-shadow: var(--outer-shadow);
  border-radius: 3rem;
  background: var(--greyLight-1);
  width: var(--view-width);
  max-width: var(--max-view-width);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.popup-effect {
  box-shadow: var(--outer-shadow);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

/* HIDE SCROLLBARS */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollBar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollBar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* MEDIA QUERIES */
@media screen and (max-width: 1256px) {
  /* MAIN - LISTITEMS */
  .todos-ul li .list-text {
    padding-right: 3rem;
  }

  .todos-entry input {
    width: 45%;
  }

  .todos-entry input:focus {
    width: 70%;
  }

  .todos-entry .todos-enter {
    right: 1.8%;
  }

  /* SIDEBAR */
  .btns-group {
    width: 90%;
  }

  .btns {
    width: 100%;
  }
}

@media screen and (max-width: 856px) {
  /* HEADER */
  .header {
    flex-direction: column;
    min-height: 250px;
    width: var(--view-width);
  }

  .logo {
    align-self: center;
  }

  .quotes-container {
    width: 100%;
  }

  /* MAIN WRAPPER */
  .container-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    height: auto;
  }

  /* MAIN */
  .main,
  .container-content {
    width: var(--view-width);
  }

  /* LIST ITEMS */
  .todos-entry {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .todos-entry input {
    width: 45%;
    height: 1.6rem;
    font-size: 1rem;
  }

  .todos-entry input:focus {
    width: 75%;
    height: 2rem;
    font-size: 1.4rem;
  }

  .todos-entry .todos-enter {
    right: 0%;
  }

  /* SIDEBAR */
  .sidebar {
    flex-direction: row;
    width: var(--view-width);
    margin-top: 1rem;
    padding: 2rem;
  }

  .display-info {
    width: 100%;
    height: 100%;
  }

  .btns-group {
    flex-direction: column;
    padding-left: 1rem;
  }

  .btns {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  /* MAIN - LIST ITEMS */

  /* Button hidden, to show - toggle following settings */
  .todos-enter {
    display: none;
    /* position: inherit;
    font-size: 1rem;
    width: 2.3rem;
    height: 1.5rem;
    margin-top: 0.25rem;
    border: 0.2rem solid;
    border-radius: 2rem;
    display: flex;
    justify-content: center; */
  }
}

@media screen and (max-width: 578px) {
  /* MAIN - LIST ITEMS */
  .todos-entry {
    display: flex;
    flex-direction: column;
    position: static;
  }

  .todos-entry input {
    width: 60%;
    height: 1.4rem;
    font-size: 1rem;
  }

  .todos-entry input:focus {
    width: 90%;
    height: 1.8rem;
    font-size: 1.4rem;
  }

  /* SIDEBAR */
  .sidebar {
    flex-direction: column;
  }

  .display-info {
    min-height: 10rem;
  }

  .btns-group {
    width: 100%;
    padding-left: 0;
  }

  .btn-item {
    padding-top: 0.25rem;
  }
}
